body {
  font-family: 'Roboto', sans-serif;
  color: #212121;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.section {
  padding: 60px 0;
  @include desktop {
    padding: 94px 0;
  }
}
